{% extends 'core/administrador/base.html' %} {% load static %} {% block titulo%}
<title>Coach</title>
{% endblock %} {%block contenido%}

<style>
    .required:after {
        content: " *";
        color: red;
    }
    
    h6 {
        font-size: 12px;
    }
</style>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de Preguntas</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Pregunta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in preg%}
                            <tr>
                                <td>{{i.0}}</td>
                                <td>{{i.1}} </td>

                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Registrar Pregunta</h3>
                    </div>
                    <form id="form-coach" action="" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h6>Todos los campos marcados con un asterisco son de carácter obligatorio</h6>
                            <br>
                            <div class="form-group">
                                <label for="exampleInputFile">Ingrese su pregunta <span style="color:#ff0000">*</span></label>
                                <input class="form-control" type="text" name="pregunta" id="pregunta" placeholder="Pregunta" required="">
                                <br>
                                <input class="btn btn-primary" type="submit" value="Agregar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js%}
<script src="{%static 'jsgrid/demos/db.js' %}"></script>
<script src="{%static 'jsgrid/jsgrid.min.js' %}"></script>

<!-- ALERTAS -->
{% if messages %} {% for m in messages %} {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    Swal.fire(
        'Perfecto',
        '{{m}}',
        'success'
    )
</script>
{% endif %} {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
    Swal.fire(
        'Error!!!',
        '{{m}}',
        'warning'
    )
</script>
{% endif %} {% endfor %} {%endif%}
<!-- FIN ALERTAS -->


<script>
    $(".btnModificar").click(function() {

        var UserData = {};
        var UserData2 = {};


        var id = $(this).closest('tr').find('td');

        UserData = id.filter(":eq(0)").text();
        UserData2 = id.filter(":eq(1)").text();


        $("#id_pregunta").val(UserData);
        $("#pregunta").val(UserData2);
    });
</script>

{% endblock %}