{% extends 'core/administrador/base.html' %} {% load static %} {% block titulo%}
<title>Coach</title>
{% endblock %} {%block contenido%}

<style>
    .required:after {
        content: " *";
        color: red;
    }
    
    h6 {
        font-size: 12px;
    }
</style>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de coachs</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Run</th>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Correo</th>
                                <th style="text-align: center">Telefono</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in coachs%}
                            <tr>
                                <td>{{i.0}}</td>
                                <td>{{i.1}} </td>
                                <td>{{i.2}}</td>
                                <td>{{i.3}}</td>
                                <td>{{i.5}}</td>
                                <td>{{i.4}}</td>
                                <th><input type="button" class="btnModificar btn btn-success" value="Modificar">
                                    <input type="button" class="btnDeshabilitar btn btn-danger" value="Deshabilitar">
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Registrar Coach</h3>
                    </div>
                    <form id="form-coach" action="" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h6>Todos los campos marcados con un asterisco son de carácter obligatorio</h6>
                            <br>
                            <div class="form-group">
                                <label for="exampleInputFile">Run <span style="color:#ff0000">*</span></label> <input class="form-control" type="text" name="run" id="run" placeholder="Run" oninput="checkRut(this)" maxlength="10" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Nombre <span style="color:#ff0000">*</span></label> <input class="form-control" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Apellido paterno <span style="color:#ff0000">*</span></label> <input class="form-control" type="text" name="a_paterno" id="a_paterno" placeholder="Apellido paterno" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Apellido materno <span style="color:#ff0000">*</span></label> <input class="form-control" type="text" name="a_materno" id="a_materno" placeholder="Apellido materno" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Correo electronico <span style="color:#ff0000">*</span></label> <input class="form-control" type="email" name="correo" id="correos" placeholder="Ingrese su correo" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Telefono <span style="color:#ff0000">*</span></label> <input class="form-control" type="number" name="telefono" id="telefono" placeholder="Telefono" max="999999999" required="">
                            </div>
                            {{mensaje}}
                            <div class="card-footer">
                                <input class="btn btn-primary" type="submit" value="Guardar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js%}
<script src="{%static 'jsgrid/demos/db.js' %}"></script>
<script src="{%static 'jsgrid/jsgrid.min.js' %}"></script>

<!-- ALERTAS -->
{% if messages %} {% for m in messages %} {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    Swal.fire(
        'Perfecto',
        '{{m}}',
        'success'
    )
</script>
{% endif %} {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
    Swal.fire(
        'Error!!!',
        '{{m}}',
        'warning'
    )
</script>
{% endif %} {% endfor %} {%endif%}
<!-- FIN ALERTAS -->

<script>
    var Coach = [{
            "Run": "123456789",
            "Nombre": "wacoldo soto",
            "Telefono": 123456,
            "Correo": "algo@alog.cl"
        }, {
            "Run": "123456789",
            "Nombre": "wacoldo soto",
            "Telefono": 123456,
            "Correo": "algo@alog.cl"
        }

    ];

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "100%",

        filtering: true,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,

        data: Coach,

        fields: [{
            name: "Run",
            type: "text",
            width: 130,
            validate: "required"
        }, {
            name: "Nombre",
            type: "text",
            width: 150
        }, {
            name: "Telefono",
            type: "number",
            width: 90
        }, {
            name: "Correo",
            type: "text",
            textField: "Name",
            width: 150
        }, {
            type: "control"
        }]
    });
</script>
<script>
    $(".btnModificar").click(function() {

        var UserData = {};
        var UserData2 = {};
        var UserData3 = {};
        var UserData4 = {};
        var UserData5 = {};
        var UserData6 = {};
        var UserData7 = {};
        var UserData8 = {};

        var id = $(this).closest('tr').find('td');

        UserData = id.filter(":eq(0)").text();
        UserData2 = id.filter(":eq(1)").text();
        UserData3 = id.filter(":eq(2)").text();
        UserData4 = id.filter(":eq(3)").text();
        UserData5 = id.filter(":eq(4)").text();
        UserData6 = id.filter(":eq(5)").text();
        //UserData7 = id.filter(":eq(0)").text();
        //UserData8 = id.filter(":eq(0)").text();

        $("#run").val(UserData);
        $("#nombres").val(UserData2);
        $("#a_paterno").val(UserData3);
        $("#a_materno").val(UserData4);
        $("#correos").val(UserData5);
        $("#telefono").val(UserData6);
        //solo lectura el run
        $('#run').attr('readonly', true);
    });
</script>
<script>
    $(".btnDeshabilitar").click(function() {
        var UserData = {};
        var id = $(this).closest('tr').find('td');

        UserData = id.filter(":eq(0)").text();
        let url = '/deshabilitar_coach/?coach=' + UserData;
        fetch(url)
    });
</script>
{% endblock %}