{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>

  {% block titulo%}
  <title>Home</title>
  {% endblock %}
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- tipo de fuente -->
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
  <!-- bootstrap theme -->
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <!-- Estilo -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- iconos
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- css GRID -->
  <link rel="stylesheet" href=" {%static 'jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{%static 'jsgrid/jsgrid-theme.min.css' %}">
  <script src="{%static 'fullcalendar/main.js' %}"></script>
  <link href="{%static 'fullcalendar/main.css'%}" rel='stylesheet' /> {% block css%} {% endblock %}

</head>

<body body class="hold-transition skin-blue sidebar-collapse sidebar-mini">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'imagen/logo_azul.png' %}" alt="Logo" class="brand-image " style="width:70%">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'coach_menu'%}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'archivo_coach'%}">Subir Archivo</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro_sesion'%}">Crear Sesiones</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->

      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="" href="#">
          <i class="bi bi-person-circle"> {{ user.first_name| upper }}</i>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-left">
          </i>
        </a>
      </li>
    </ul>

  </nav>
</body>








{% block contenido %} {% endblock %}



<!-- jquery JQ -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>

<!-- bootstrap JS -->

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- JSGRID -->
<script src="{%static 'jsgrid/demos/db.js' %}"></script>
<script src="{%static 'jsgrid/jsgrid.min.js' %}"></script>
<script src="{%static 'jsadmi/adminlte.js' %}"></script>
<!--alertas-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>





{% block js%} {% endblock %}


</body>

</html>