{% extends 'core/coach/base.html' %}

{% load static %} 
{%block css %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: [
                {% for p in sesiones %} 
                {
                title: "{{p.3}}",
                start: '{{ p.1 | date:"Y-m-d" }}',

            },
            {% endfor %}
        ]
        });
    calendar.render();
    calendar.setOption('locales', 'es');
    });
</script>

{%endblock%} 
{% block contenido%}


<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card" style="position: relative; height: 100%; width: 100%;">
                <div class="card-header">
                    <h3 class="card-title">Mis Procesos</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">N°</th>
                                <th>Nombre proceso</th>
                                <th>Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for p in procesos%}
                            <tr>
                                <td>{{ p.0 }}</td>
                                <td>{{p.1}}</td>
                                <th><input type="button" class="btnDetalle btn btn-success" value="Detalle"></th>


                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card" style="position: relative; height: 100%; width: 100%;">
                <div class="card-header">
                    <h3 class="card-title">Calendario</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="calendar"></div>
                </div>

            </div>
        </div>

    </div>
    <div class="container mt-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalle proceso</h3>
                </div>
                <div class="card-body">
                    <div class="row" id="detalle_proceso_coach" >
                         
                    </div>
                                       
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}

{%block js %}
<script>
      
    $(".btnDetalle").click(function () {
            var UserData = {};
            var id = $(this).closest('tr').find('td');
          
            UserData = id.filter(":eq(0)").text();

            //alert(UserData)
            var url = '/detalle_proceso_coach/?proceso=' + UserData;
            fetch(url)
               .then(function (result) {
                    return result.text();
                })
                .then(function (result) {
                     document.getElementById("detalle_proceso_coach").innerHTML = result;
                });
            });

            var url1 = 'grafico/?proceso='+UserData;
            fetch(url1)
           
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    function Grafico(){
        
        var sesiones = document.getElementById("cantidadSesiones").value;
        var realizada = document.getElementById("sesionesRealizada").value;
        var restante =(sesiones-realizada) 
        //alert("R:"+realizada + "RES:"+restante);
    
        var miCanvas = document.getElementById("Grafica").getContext("2d")
    
        var config = {
        type: "pie",
        data: {
            labels: ["Sesiones realizadas", "Sesiones restantes"],
            datasets: [
                {
                    label: "Porcentaje de avance del proceso",
                    data: [realizada, restante],
                    backgroundColor: [
                            "grey", "orange"
                        ]
                }
                    ]
            },
            options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    plugins:{
                        labels:{
                            render: 'percentage',
                            fontColor: ['green', 'red'],
                            precision: 2
                        }
                    }
                }
            }
            
            window.myPie = new Chart(miCanvas, config);
            
    } 
</script>

    
{% endblock %}