{% extends 'core/coach/base.html' %}
{% load static %}
{%block css %}



{%endblock%}
{% block contenido%}

<div class="container mt-3"  style="width:40%">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Crear una nueva sesion</h3>
                </div>
                <form action="" method="POST" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        
                        <!--condicionar fecha de creacion  -->
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Fecha y hora Acordada</label>
                            <input class="form-control" type="datetime-local" id="fecha_acordada" name="fecha_acordada" required=""
                            placeholder="dd-mm-aaaa" data-date-format="d-m-YTH:i" data-enable-time=true data-time_24hr=true>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Descripcion</label>
                            <input class="form-control" type="text" name="descripcion" id="modalidad"
                                placeholder="Modalidad" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Asignacion y acuerdos</label>
                            <input class="form-control" type="text" name="asigyacuerd" id="asigyacuerd" placeholder="Status"
                                required="">
                        </div>
                        <!-- EMPRESA  -->
                        <div class="form-group">
                            <label for="exampleInputFile">Seleciona una empresa</label>
                            <select class="form-control" name="empresa" id="empresa" style="height: 100%;"  required=""
                                onchange="sub_procesos()">

                                <option></option>
                                {% for i in empresas %}
                                <option value="{{i.0}}">{{i.1}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <!-- PROCESO  -->
                        <div class="form-group">
                            <!--combobox anidado filtrar empresa y muestre  procesos asociados  -->
                            <label for="exampleInputFile">Seleciona un proceso</label>
                            <select class="form-control" name="proceso" id="proceso" >
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Seleciona los archivos para la sesion</label>
                            <input class="controls" type="file" name="archivo" id="archivo" multiple="true" onchange="return validarExt()" 
                            accept=".xlsx,.pptx,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div>
                        <div class="card-footer">
                            <input class="btn btn-primary" type="submit" value="Agregar">


                        </div>
                    </div>
                </form>
             
            </div>
        </div>
    </div>
</div>



{%endblock%}

{% block js %}

<script>
    
    $('#empresa').select2({ 
        placeholder: "Seleccione Empresa"
}); 
    

</script>

<script>
    function sub_procesos() {
        let id_empresa = document.getElementById("empresa").value;
        /* Aqui se rescata el id del view rut_empresa = request.GET.get('***empresa****')*/
        let url = '/proceso_empresa/?empresa=' + id_empresa;
        fetch(url)
            .then(function (result) {
                return result.text();
            })
            .then(function (result) {
                document.getElementById("proceso").innerHTML = result;
            });
    }
    
</script>

<!-- ALERTAS -->
{% if messages %}
{% for m in messages %}
{% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
   Swal.fire(
  'Perfecto',
  '{{m}}',
  'success'
)
</script>
{% endif %}

{% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
   Swal.fire(
  'Error!!!',
  '{{m}}',
  'warning'
)
</script>
{% endif %}

{% endfor %}
{%endif%}
<!-- FIN ALERTAS -->

<script>
    config = {    
        minDate: "today",
        locale: { 
        firstDayOfWeek: 1,
        weekdays: {
          shorthand: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
          longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],         
        }, 
        months: {
          shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Оct', 'Nov', 'Dic'],
          longhand: ['Enero', 'Febreo', 'Мarzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        }
        }}
    flatpickr("#fecha_acordada",config);

</script>
<script type="text/javascript">
    function validarExt()
    {
        var  archivo = document.getElementById('archivo');
        var archivoRuta = archivo.value;
        var extPermitidas = /(.pdf|.xlsx|.docx|.doc|.pptx|.png)$/i;

        if(!extPermitidas.exec(archivoRuta))
        {
            alert('Ingrese un archivo correspondiente a word, pdf, excel u imagen')
            archivo.value='';
            return false
        }
        else
        {
            if(archivo.files && archivo.files[0])
            var visor = new FileReader();
            visor.onload=function(e)
            {
                document.getElementById('visorArchivo').innerHTML=
                '<embed src=" '+e.target.result+'"width="500" height="500">';
            };
            visor.readAsDataURL(archivo.files[0])

        }
    }
</script>




{% endblock %}