{% extends 'core/base.html' %}
{% load static %}
 {% block titulo%}
  <title>administrador</title>
  {% endblock %}
{%block contenido%}<br>
<br>
<div class="container">
  <!--Lista y calendario-->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de procesos</h3>
        </div><!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered" id="tbProceso">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Procesos</th>

              </tr>
            </thead>
            <tbody>
              {% for i in procesos %}
              <tr id="datos">
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <th><input type="button" class="btnDetalle" value="Detalle"></th>
                {% endfor %}
                <!--
                <td>1.</td>
                <td>Update software</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                  </div>
                </td>
                <td><span class="badge bg-danger">55%</span></td>-->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item">
              <a class="page-link" href="#">«</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">»</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card ">
          <div class="card-header">
            <h3 class="card-title">Calendario</h3>
          </div>
          <div class="card-body">
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!--Detalle proceso-->
  <div class="row">
    <div class="col-md-8" id="detalle_proceso">

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!--Detalle del proceso sacado de la ID-->
<script>
  $(".btnDetalle").click(function(){
    var UserData = {};
    var id = $(this).closest('tr').find('td');

    UserData = id.filter(":eq(0)").text();

    //alert(UserData)
    let url = '/detalle_proceso/?proceso='+UserData;
    fetch(url)
    .then(function(result){
      return result.text();
    })
    .then(function(result){
      document.getElementById("detalle_proceso").innerHTML = result;
    });
  });
</script>
<!--<script>
  document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          events: [
              {% for p in sesiones %} 
              {
              title: "{{p.3}}",
              start: '{{ p.1 | date:"Y-m-d" }}',

          },
          {% endfor %}
      ]
      });
  calendar.render();
  calendar.setOption('locales', 'es');
  });
</script>-->
{% endblock js %}