{% extends 'core/base.html' %}

{% block titulo%}
<title>Home | Administrador</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_admin.css' %}">
{% endblock %}

{% block barra %}
<ul class="nav navbar-nav">

    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Agregar <span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'registro_coach' %}">Coach</a></li>
            <li><a href="{% url 'registro_coachee' %}">Coachee</a></li>
            <li><a href="{% url 'registro_proceso' %}">Proceso</a></li>
            <li><a href="{% url 'registro_empresa' %}">Empresa</a></li>
        </ul>
    </li>

</ul>
{% endblock %}


{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h2>Listado de coaches</h2>
            {% for c in coaches %}
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>{{c.1}}</h3>
                        <p>Run: {{c.0}}</p>
                        <p>Telefono: {{c.2}}</p>
                        <p>Correo: {{c.3}}</p>

                        <br>
                        <div class="link">
                            <a href="">Ver procesos</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-sm-3">
            <h2>Listado de coachees</h2>
            {% for c in coachees %}
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>{{c.1}}</h3>
                        <p>Run: {{c.0}}</p>
                        <p>Cargo: {{c.2}}</p>
                        <p>Correo: {{c.3}}</p>
                        <p>Empresa: {{c.4}}</p>
                        <br>
                        <div class="link">
                            <a href="">Ver procesos</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <h2>Listado de empresas</h2>
            {% for c in empresas %}
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>{{c.1}}</h3>
                        <p>{{c.0}}</p>
                        <p>{{c.3}}</p>
                        <p>{{c.4}}</p>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <h2>Listado de procesos</h2>
            {% for c in procesos %}
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>{{c.1}}</h3>
                        <p>{{c.3}} </p>
                        <p>{{c.2}}</p>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}