<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <input class="controls" type="file" name="archivo" id="archivo" required onchange="return validarExt()" 
        accept=".xlsx,.pptx,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        
        <select name="coachee" id="coachee">
            <option value="">Destinatario</option>
            
            {% for c in coachees %}
            <option value="{{c.0}}">{{c.1}}</option>
            {% endfor %}
      
          </select>
        

        <input class="botons" type="submit" value="Subir Archivo">
        <br>
        <br>
        <div id="visorArchivo">
        </div>
      </form>
      {{mensaje}}
      <script type="text/javascript">
        function validarExt()
        {
            var  archivo = document.getElementById('archivo');
            var archivoRuta = archivo.value;
            var extPermitidas = /(.pdf|.xlsx|.docx|.doc|.pptx|.png)$/i;
    
            if(!extPermitidas.exec(archivoRuta))
            {
                alert('Ingrese un archivo correspondiente a word, pdf, excel u imagen')
                archivo.value='';
                return false
            }
            else
            {
                if(archivo.files && archivo.files[0])
                var visor = new FileReader();
                visor.onload=function(e)
                {
                    document.getElementById('visorArchivo').innerHTML=
                    '<embed src=" '+e.target.result+'"width="500" height="500">';
                };
                visor.readAsDataURL(archivo.files[0])
    
            }
        }
        function validartamanio()
        {
            var  tArchivo = document.getElementById('archivo').files[0].size;
            if(tArchivo > 10485760 )
            {
                alert("el tamaño excede lo permitido 10 mg")
            }
        }
    </script>
</body>

</html>


