{% extends 'core/base.html' %}

{% block titulo%}
<title>Home | Coach</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_admin.css' %}">
{% endblock %}

{% block barra %}
<ul class="nav navbar-nav">
    
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Opciones <span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Subir documentacion</a></li>
            <li><a href="#">Crear sesiones</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
    
</ul>
{% endblock %}

{% block contenido%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3>Mis procesos</h3>
        </div>
    </div>
</div>    
{% endblock %}