<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <title>Login</title>

</head>
<body style="background: url(static/core/img/fondo.png);">
    <section>
        <div class="form-container">
            <h1>Inicar sesion</h1>
            <form action="#">    
                <div class="control">
                    <label for="name">Usuario</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="control">
                    <label for="psw">Contraseña</label>
                    <input type="password" name="psw" id="psw">
                </div>
                <div class="control">
                    <input type="submit" value="Iniciar sesion" >
                    
                </div>
            </form>
            <div class="link">
                <a href="#">Olvido su contraseña?</a>
            </div>
        </div>
    </section>
</body>
</html>