{% extends 'core/base.html' %}

{% block titulo%}
<title>Registro proceso</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_r_coach.css' %}">
{% endblock %}

{% block contenido %}
<section class="form-register">
  <h4>Registro Proceso</h4>
  <form action="" method="POST">
    {% csrf_token %} 
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre proceso" required>
    <input class="controls" type="text" name="modalidad" id="modalidad" placeholder="Modalidad" required>
    <select name="coach" id="coach">
      <option value="">Selecionna</option>
      
      {% for c in coachs %}
      <option value="{{c.0}}">{{c.1}}</option>
      {% endfor %}
    </select>

    <input class="botons" type="submit" value="Agregar" >
  </form>
  {{mensaje}}
</section>
{% endblock %}