{% extends 'core/base.html' %}

{% block titulo %}
<title>Registro_coach</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_r_coach.css' %}">
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-6">
    <h3>Coachs registrados</h3>
    <table id="tablaCoach" class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Run</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
        </tr>
      </thead>
      <tbody>
        {% for i in coachs%}
          <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td>{{i.5}}</td>
            <td>{{i.4}}</td>
            <th><input type="button" class="btnModificar" value="Modificar"></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-5 ml-auto">
    <h3>Registro Coach</h3>
    <form id="FormCoach" action="" method="POST">
      {% csrf_token %} 
      <input class="controls" type="text" name="run" id="run" placeholder="Run" oninput="checkRut(this)" maxlength="10" required>
      <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" required>
      <input class="controls" type="text" name="a_paterno" id="a_paterno" placeholder="Apellido paterno" required>
      <input class="controls" type="text" name="a_materno" id="a_materno" placeholder="Apellido materno" required>
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo" required>
      <input class="controls" type="text" name="telefono" id="telefono" placeholder="telefono" required>
  
      <input class="botons" type="submit" value="Agregar" onclick="limpiarFormulario()" >
      <input class="botons" type="submit" value="Modificar" >
    </form>
    {{mensaje}}
  </div>
</div>
{% endblock %}

{% block js%}

<script src=" static/core/js/validacion.js"></script>
<script>
  function limpiarFormulario(){
    document.getElementById("FormCoach").reset();
  };
</script>

<script>
  $(".btnModificar").click(function(){
    var id = $(this).closest('tr').find('td').each(function(){
      var textval = $(this).text();
      
      $("#run").val(textval).readOnly;
      $("#nombre").val(textval);
      $("#a_paterno").val(textval);
      $("#a_pmaterno").val(textval);
      $("#correo").val(textval);
      $("#telefono").val(textval);
    });
  });
</script>
{% endblock %}