{% extends 'core/base.html' %}

{% block titulo %}
<title>Registro_coach</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_r_coach.css' %}">
{% endblock %}

{% block contenido %}
<section class="form-register">
  <h4>Registro Coach</h4>
  <form action="" method="POST">
    {% csrf_token %}
    <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre" required>
    <input class="controls" type="text" name="a_paterno" id="a_paterno" placeholder="Apellido paterno" required>
    <input class="controls" type="text" name="a_materno" id="a_materno" placeholder="Apellido materno" required>
    <input class="controls" type="text" name="run" id="run" placeholder="Run" oninput="checkRut(this)" maxlength="10" required> 
    <input class="controls" type="email" name="correo" id="correos" placeholder="Ingrese su correo" required>
    <input class="controls" type="number" name="telefono" id="telefono" placeholder="Telefono" max="999999999" required >

    <input class="botons" type="submit" value="Agregar">
  </form>
  {{mensaje}}
</section>

{% endblock %}
{% block js%}
<script src=" static/core/js/validacion.js"></script>
{% endblock %}