{% extends 'core/base.html' %}

{% block titulo%}
<title>Registro empresa</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_r_coach.css' %}">
{% endblock %}

{% block contenido %}
<section class="form-register">
  <h4>Registro Empresa</h4>
  <form action="" method="POST">
    {% csrf_token %} 
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre empresa" required>
    <input class="controls" type="text" name="direccion" id="direccion" placeholder="Direccion" required>
    <input class="controls" type="number" name="telefono" id="telefono" placeholder="Telefono" max="999999999" required >
    <input class="controls" type="text" name="rut" id="rut" placeholder="Rut empresa" oninput="" maxlength="10" required>
    <input class="controls" type="email" name="correo" id="correo" placeholder="Correo empresa" required>

    <input class="botons" type="submit" value="Agregar" >
  </form>
  {{mensaje}}
</section>
{% endblock %}