{% extends 'core/base.html' %}

{% block titulo%}
<title>Registro Coachee</title>
{% endblock %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo_r_coach.css' %}">
{% endblock %}

{% block contenido %}
<section class="form-register">
  <h4>Registro Coachee</h4>
  <form action="" method="POST">
    {% csrf_token %} 
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="a_paterno" id="a_paterno" placeholder="Apellido paterno">
    <input class="controls" type="text" name="a_materno" id="a_materno" placeholder="Apellido materno">
    <input class="controls" type="text" name="run" id="run" placeholder="Run">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
    <input class="controls" type="text" name="cargo" id="cargo" placeholder="Cargo">

    <select name="empresa" id="empresa">
      <option value="">Selecionna</option>
      
      {% for c in empresas %}
      <option value="{{c.0}}">{{c.3}}</option>
      {% endfor %}

    </select>
    <input class="botons" type="submit" value="Agregar">
  </form>
  {{mensaje}}
</section>
{% endblock %}
