{% extends 'core/coachee/base.html' %} {% load static %} {%block css %} {%endblock%} {% block contenido%}

<div class="card">
    <form action="" method="POST" enctype="multipart/form-data" id="elForm">
    {% csrf_token %}
        <div class="card-body">
            <div>
                <div class="form-group">
                    <label for="exampleInputFile">Selecionar una sesión
                    <span style="color:#ff0000">*</span>
                    </label>
                    <select class="form-control" name="sesion" id="sesion" style="height: 100%;" required="" onchange="sub_procesos()" placeholder="Elegir una empresa">
                        <option></option>
                        {% for i in sesiones %}
                        <option value="{{i.1}}">{{i.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Lista">
                {% for i in doc %}
                <h1>Descargar archivo vinculado a su sesión?<a href="{{i.2}}" download> Descargar</a></h1>
                {% endfor %}
            </div>
        </div>
    </form>
            
</div>
{%endblock%}